@font-face {
    font-family: 'InconsolataExpanded-Light';
    src: url('../assets/font/InconsolataExpanded-Light.ttf');
}

@font-face {
    font-family: 'InconsolataSemiCondensed-Black';
    src: url('../assets/font/InconsolataSemiCondensed-Black.ttf');
}

@font-face {
    font-family: 'InconsolataSemiExpanded-ExtraLight';
    src: url('../assets/font/InconsolataSemiExpanded-ExtraLight.ttf');
}

@font-face {
    font-family: 'InconsolataSemiExpanded-SemiBold';
    src: url('../assets/font/InconsolataSemiExpanded-SemiBold.ttf');
}

@font-face {
    font-family: 'InconsolataCondensed-Black';
    src: url('../assets/font/InconsolataCondensed-Black.ttf');
}