footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    .minimap {
        position: absolute;
        left: 10px;
        bottom: 10px;
        border: 1px solid white;
        width: 50px;
        height: 50px;

        #minimap_view {
            width: 50px;
            height: 50px;
            border: 1px solid white;
            box-sizing: border-box;
        }
    }

    .scale {
        position: absolute;
        right: 40px;
        bottom: 6px;

        #scale_value {
            height: 20px;
            display: flex;
            float: left;
            margin-right: 5px;
            font-size: 12px;
            align-items: center;
        }

        img {
            width: 20px;
            height: auto;
        }
    }

    #fullscreen {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 20px;
        height: 20px;
        background: url('../assets/automatauniversalis.stack.svg#fullscreen');
        background-size: contain;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 20px;
            height: auto;
        }
    }
}

body.fullscreen {
    footer {
        #fullscreen {
            background: url('../assets/automatauniversalis.stack.svg#nofullscreen');
        }
    }
}